* {
  margin: 0;
  padding: 0;
}

body {
  background: #282a36;
}

.main {
  width: 100vw;
  position: absolute;
  top: 30%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.box {
  font-family: mononoki;

  margin-top: 20px;
  line-height: 30px;
  background: #181920;

  padding: 20px 30px;
  border-radius: 8px;
  box-shadow: 5px 4px 3px #20222a;
}

.box ul {
  list-style: none;
}

a {
  color: #ff79c6;
  text-decoration: none;

  font-size: 15pt;
}
