* {
  margin: 0;
  padding: 0;
}

body {
  background: #282a36;
}

.main {
  width: 100vw;
  position: absolute;
  top: 30%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.main .clock {
  background: #181920;

  border-radius: 8px;
  box-shadow: 5px 4px 3px #20222a;

  display: flex;
  height: 80px;
  padding: 10px;
}

.main .links {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.box {
  font-family: mononoki;

  margin-top: 20px;
  margin-right: 20px;

  min-height: 280px;
  line-height: 30px;
  background: #181920;

  padding: 20px 30px;
  border-radius: 8px;
  box-shadow: 5px 4px 3px #20222a;

  display: flex;
  flex-direction: column;
}

.box .title {
  color: #f8f8f2;
  font-size: 25px;
  margin-bottom: 25px;
}

.box ul {
  list-style: none;
}

a {
  color: #ff79c6;
  text-decoration: none;

  font-size: 15pt;
  width: fit-content;
}

a:hover {
  color: #50fa7b;
  text-decoration: underline;
}
